@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
body {
  font-family: "Amiri Quran", serif !important;
  background-color: #414448 !important;
}
:any-link {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

.hero-image {
  max-width: 100vw;
  height: 100vh;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus,
button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.transition {
  transition: 0.3s;
}
.ayahBox:hover {
  background-color: rgba(
    var(--bs-info-rgb),
    calc(var(--bs-bg-opacity) * 0.3)
  ) !important;
  transition: 0.3s;
}
.ayahBox:hover span {
  transition: 0.3s;
  background-color: rgba(
    var(--bs-info-rgb),
    calc(var(--bs-bg-opacity))
  ) !important;
}
